body {
    font-family:verdana,helvetica,sans-serif;
    font-size:1rem;
}

h1 {
    font-size:1.2rem;
    text-align: center;
    padding-top: 2rem;;
}

.todo-area {
    border-radius: 0.375rem;
    border-style:ridge;
        margin: 0 auto;
    max-width:30rem;
    padding:0 1rem 1rem 1rem;
}
fieldset {
    padding:2rem;
}
.done {
    text-decoration: line-through;
}
.disabled {
    background: #a2a2a2;
}

.enabled {
    background: #efefef;
}

ul {
    list-style:none;
    padding:0;
}

.todo-item {
    margin-bottom:1rem;
    padding:0.7rem;
}


input {
    margin-right:1rem;
}
.todo-form button:focus, .todo-form button:active {
    background: #a2a2a2;
}

.delete-button {
    display: inline;
    padding: 1px 4px;
    border-radius: 3;
    border: 1px solid #767676;
    cursor: pointer;
    float:right;
}

.delete-button:focus, .delete-button:active {
    background: red;
}
.enabled-delete-button {
    background: #efefef;
}
.disabled-delete-button {
    background: #a2a2a2;
}

.error-message {
    border: 1px solid red;
    padding:1rem;
}

.todo-item:hover, .add-button:hover {
    transform: scale(1.03);
}
